ion-split-pane {
  --side-width: 150px;
  --side-max-width: 150px;
  /* --border: 0px; */
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.img-thumb {
  /* width: 15rem;
  height: 15rem; */
  border-radius: 50%;
}